:root {

	--primary-color: rgba(0, 0, 0, 1);
	--background-color: white;

	--success-color: green;
	--wrong-color: red;

	--menu-speed: 0.75s;
}

/* ------------ MAIN FONTS ---------------- */

/*
Headings: 
font-family: 'Montserrat', sans-serif; 
font-family: 'Lato', sans-serif;


Body: 
font-family: 'Inconsolata', monospace;

*/
/* ------------ MAIN FONTS ---------------- */


/* _____________________________________ SETTINGS _____________________________________ */
*, html { box-sizing: border-box; font-size: 1.0rem; font-family: 'Inconsolata', monospace; }
*, *:before, *:after { box-sizing: inherit; }

/* clearfix */
.container:before, .group:before,
.container:after, .group:after { content: " "; display: table;}
.container:after,.group:after { clear: both;}
/* clearfix */

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1, h2, h3 {
	text-transform: uppercase;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;  
}

.hide {
	display: none;
}

.box-shadow {
	padding: 2rem;
	box-shadow: 0 0 5px 2px;
	background-color: white;
	border: 5px solid black;
}
/* _____________________________________ SETTINGS  _____________________________________ */

p {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
  	height: 100vh;

  	background: rgba(0, 0, 0, 0.8);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
}

	body.correct {
  --hue: var(--hue-correct);
}

	body.wrong {
	  --hue: var(--hue-wrong);
	}



/* ------------ HEADER NADPIS A POPIS  ---------------- */
#main-headline {
	
	margin: 1rem 1rem;
	font-family: 'Montserrat', sans-serif; 
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: 5px;
}

#main-info-text {
	padding: 1rem 0rem;
	Body: font-family: 'Inconsolata', monospace;
	font-size: 1.0rem;
	text-transform: uppercase;
}
/* ------------ HEADER NADPIS A POPIS  ---------------- */






/* ------------ QUESTION CONTAINER ELEMENT ---------------- */
#select {
	height: 100vh; 
	width: 100vw;
	margin: 0 auto;
	background-color: var(--background-color);
}

#select.success {
	background-color: var(--success-color);
}

#select.wrong {
	background-color: var(--wrong-color);
}

#select .container {
	padding: 0px;
}

#question-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 93vh;
	margin-bottom: 2vh;
	width: auto;
}

	#question {
		font-size: 1.25rem;
		margin: 0;
		padding: 0;
		margin-top: 0rem;
	}

#controls {
	margin-top: 1rem;
	height: 50vh;
	width: 100vw;
}

#answer-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0rem;
	flex-wrap: wrap;
}

#answer-buttons .btn {
	margin-right: 0rem;
	margin-left: 0rem;
	margin-bottom: 1rem;
	width: 25vw;
	height: 6vh;

	font-size: 1.4rem;
	font-weight: 700;
}

.btn-bg {
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	

		.btn.correct, .correct {
		 background-color: var(--success-color);
		}

		.btn.wrong, .wrong {
		background-color: var(--wrong-color);
		}

		.btn.choose, .choose  {
		background-color: var(--primary-color);
		}

		.btn.non-choose, .non-choose  {
		background-color: grey;
		}


#question-img {
	height: auto;
	width: 100%;
}
	
	#question-img img {
		
		max-width: 35vh;
		height: auto;
		margin-bottom: 1vh;

	}


.controls button {
	height: 9vh;
	width: 100%;
	margin: 0vh 0vh 2vh 0vh;
	border: 2px solid black;
	text-transform: uppercase;
	font-size: 1.3rem;
	letter-spacing: 2px;

}


#question-controls button {

	margin: 0rem 1rem;

	width: 20vw;
	height: 6vh;

	max-width: 100px;
	max-height: 50px;
}
/* ------------ QUESTION CONTAINER ELEMENT ---------------- */







/* ------------ INSTRUCTIONS SECTION  ---------------- */
#instructions {
	height: 100vh;
	width: 100vw;
	padding-top: 10vh;
}

	#instructions-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#instructions-container p {
		font-size: 1.1rem;
		line-height: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
/* ------------ INSTRUCTIONS SECTION ---------------- */





/* ------------ FOOTER CONTAINER ELEMENT ---------------- */

	#main-footer-container {
		height: 15vh;
		width: 100vw;

		display: flex;
		color: white;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		position: fixed;
		bottom: 0;
		background-color: black;

		border-top: 5px solid #0069d9;
	}

	#main-footer .col {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#main-footer i {
		padding: 0rem 1rem;
		color: white;
	}

	.author {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex: 3;
		height: 100%;
	}

	.author span {
		color: #0069d9;
		font-size: 1.75rem;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif; 
	}
/* ------------ FOOTER CONTAINER ELEMENT ---------------- */

